#topic{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;

   color: #000000;
}

#navigationbar{

text-align: center;

}

html{
    background-color:;
}



#inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    background-color: #c4c4c4;
    border-radius: 38px;
}
footer {
    text-align: center;
    padding-top: 30px;
    background-color: #18A0FB;
    color: wheat;
    padding-bottom: 70px;
    font-size: 18px;
}
footer h1{
    font-weight: 100;
}
.submain{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin-left: 10%;
}
.submain h2{
    font-weight: 100;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #18A0FB;
    padding: 30px 30px 30px 30px;
}
.navbar a{
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-top: 0px;
}
.menuitems div:hover{
    background-color: aliceblue;
    color: #18A0FB;
}
.logosection{
    width: 50%;
}
.logosection img{
    border-radius: 50%;
}
.menuitems{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}