/* navbar section starts here */
.navbar{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #18A0FB;
  padding: 30px 30px 30px 30px;
}
.navbar a{
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-top: 0px;
}
.menuitems div:hover{
  background-color: aliceblue;
  color: #18A0FB;
}
.logosection{
  width: 50%;
}
.logosection img{
  border-radius: 50%;
}
.menuitems{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
/* menu section ends here */

#location{
  font-size: 24px;
  margin: 20px;
}
#location > form > input{
  margin: 20px;
  font-size: medium;
  background-color: lightgray;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

/* services */
#services{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* flex: 4; */
  /* flex-wrap: wrap; */
}
.serviceProvider{
  border: 2px solid black;
  border-radius: 10px;
  width: 18%;
  text-align: center;
  padding: 20px;
  margin: 5px 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
#provImg > img{
  width: 75%;
  border: 5px solid lightgray;
  border-radius: 3px;
}
#provInfo > button{
  padding: 10px;
  background-color: rgb(210, 235, 250);
  border-radius: 5px;
}
#provInfo > button > a{
  text-decoration: none;
  color: black;
}